
scopeName: 'main.story'
name: 'Movie Script'
fileTypes: ['script']
patterns: [
	{
		match: '\'(.*?)\''
		name: 'scene'
	},
	{
		match:'@(.*?)\\s'
		name: 'character'
	},
	{
		match:'\\+(.*?)\\s'
		name: 'camera'
	},
	{
		match:'\\*(.*?)\\s'
		name: 'thing'
	},
	{
		match: '(EXT)|(INT)'
		name: 'set'
	},
	{
		match: '(DAY)|(NIGHT)|(EVENING)|(MORNING)|(NOON)'
		name: 'time'
	},
	{
		match: '\\/\\/'
		name:'scene'
	},
  {
    match:'#(.*?)\\n'
    name:'comment'
  },
	{
		  begin:'"'
			end: '"'
			name:'speech'
			patterns: [
				{
					begin: '\\('
					end:'\\)'
					name: 'regie'
				}
			]
	},
	{
		begin:'\\/\\*'
		end: '\\*\\/'
		name: 'title'
	}
]
